In [1]:
import pandas as pd
import numpy as np

In [27]:
savepath = '/media/basic/ssd256/VinBigData_CXR/vinbigdata/train_folds.csv'
df = pd.read_csv(savepath)

In [28]:
df.head()

,image_id,class_name,class_id,rad_id,x_min,y_min,x_max,y_max,width,height,fold
0,50a418190bc3fb1ef1633bf9678929b3,No finding,14,R11,NaN,NaN,NaN,NaN,2332,2580,0
1,50a418190bc3fb1ef1633bf9678929b3,No finding,14,R15,NaN,NaN,NaN,NaN,2332,2580,0
2,50a418190bc3fb1ef1633bf9678929b3,No finding,14,R16,NaN,NaN,NaN,NaN,2332,2580,0
3,21a10246a5ec7af151081d0cd6d65dc9,No finding,14,R7,NaN,NaN,NaN,NaN,2954,3159,1
4,21a10246a5ec7af151081d0cd6d65dc9,No finding,14,R13,NaN,NaN,NaN,NaN,2954,3159,1

In [29]:
df['class'] = df.class_id.apply(lambda x: 'Normal' if x == 14 else 'Not_normal')

In [31]:
df.head(15)

,image_id,class_name,class_id,rad_id,x_min,y_min,x_max,y_max,width,height,fold,class
0,50a418190bc3fb1ef1633bf9678929b3,No finding,14,R11,NaN,NaN,NaN,NaN,2332,2580,0,Normal
1,50a418190bc3fb1ef1633bf9678929b3,No finding,14,R15,NaN,NaN,NaN,NaN,2332,2580,0,Normal
2,50a418190bc3fb1ef1633bf9678929b3,No finding,14,R16,NaN,NaN,NaN,NaN,2332,2580,0,Normal
3,21a10246a5ec7af151081d0cd6d65dc9,No finding,14,R7,NaN,NaN,NaN,NaN,2954,3159,1,Normal
4,21a10246a5ec7af151081d0cd6d65dc9,No finding,14,R13,NaN,NaN,NaN,NaN,2954,3159,1,Normal
5,21a10246a5ec7af151081d0cd6d65dc9,No finding,14,R2,NaN,NaN,NaN,NaN,2954,3159,1,Normal
6,9a5094b2563a1ef3ff50dc5c7ff71345,Cardiomegaly,3,R10,691.0,1375.0,1653.0,1831.0,2080,2336,2,Not_normal
7,9a5094b2563a1ef3ff50dc5c7ff71345,Pleural effusion,10,R9,1789.0,1729.0,1875.0,1992.0,2080,2336,2,Not_normal
8,9a5094b2563a1ef3ff50dc5c7ff71345,Pleural thickening,11,R9,1789.0,1729.0,1875.0,1992.0,2080,2336,2,Not_normal
9,9a5094b2563a1ef3ff50dc5c7ff71345,Cardiomegaly,3,R9,692.0,1375.0,1657.0,1799.0,2080,2336,2,Not_normal
10,9a5094b2563a1ef3ff50dc5c7ff71345,Cardiomegaly,3,R8,689.0,1313.0,1666.0,1763.0,2080,2336,2,Not_normal
11,9a5094b2563a1ef3ff50dc5c7ff71345,Aortic enlargement,0,R9,1052.0,715.0,1299.0,966.0,2080,2336,2,Not_normal
12,051132a778e61a86eb147c7c6f564dfe,Aortic enlargement,0,R10,1264.0,743.0,1611.0,1019.0,2304,2880,3,Not_normal
13,051132a778e61a86eb147c7c6f564dfe,Aortic enlargement,0,R8,1305.0,731.0,1613.0,1066.0,2304,2880,3,Not_normal
14,051132a778e61a86eb147c7c6f564dfe,Cardiomegaly,3,R8,948.0,1267.0,2063.0,1672.0,2304,2880,3,Not_normal

In [32]:
df.image_id.value_counts()

03e6ecfa6f6fb33dfeac6ca4f9b459c9    57
fa109c087e46fe1ea27e48ce6d154d2f    52
e31be972e181987a8600a8700c1ebe88    48
6d5acf3f8a973a26844d617fffe72998    46
ecf474d5d4f65d7a3e23370a68b8c6a0    46
                                    ..
f922ffb5dd692c52065db7efe0240403     3
59f84b0cc36d5e9626e36d142cfdf971     3
7268ec445a6c2ffcc4a0fcf28199341e     3
ae2abc5907b9184169848b9bf847e68e     3
0ad8d7f0f8a9bc784c8bb38e50a63beb     3
Name: image_id, Length: 15000, dtype: int64

In [34]:
len(df.image_id.unique())

15000

In [35]:
# save 
df.to_csv(savepath, index=False)

In [4]:
np.zeros((0, 5))

array([], shape=(0, 5), dtype=float64)

In [5]:
np.zeros((1, 5))

array([[0., 0., 0., 0., 0.]])

In [7]:
import torch

In [12]:
tm1 = torch.ones((2, 1, 5)) * -1
tm1, tm1.shape

(tensor([[[-1., -1., -1., -1., -1.]],

         [[-1., -1., -1., -1., -1.]]]), torch.Size([2, 1, 5]))

In [14]:
tm1[:, :, 4] = 14 
tm1, tm1.shape

(tensor([[[-1., -1., -1., -1., 14.]],

         [[-1., -1., -1., -1., 14.]]]), torch.Size([2, 1, 5]))

In [15]:
import torchvision  # torchvision==0.5.0+cpu
import torch        # torch==1.4.0+cpu

boxes = [[0.0, 0.0, 1.0, 1.0],
         [2.0, 1.0, 1.0, 2.0]]

boxes = torch.tensor(boxes)
scores = torch.tensor([1., 0.5])

keep = torchvision.ops.nms(boxes, scores, 0.7)

In [16]:
keep

tensor([0, 1])

In [17]:
boxes.shape, scores.shape

(torch.Size([2, 4]), torch.Size([2]))

In [2]:
# EDA

In [3]:
savepath = '/media/basic/ssd256/VinBigData_CXR/vinbigdata/train_folds_bypatid.csv'
df = pd.read_csv(savepath)

In [10]:
df[df.image_id == df.image_id.unique()[11]]

,image_id,class_name,class_id,rad_id,x_min,y_min,x_max,y_max,width,height,fold
11,18a61a07e6f5f13ebfee57fa36cd8b6f,Pulmonary fibrosis,13,R9,393.0,283.0,822.0,643.0,2304,2880,1
4586,18a61a07e6f5f13ebfee57fa36cd8b6f,Calcification,2,R8,380.0,278.0,787.0,612.0,2304,2880,3
4826,18a61a07e6f5f13ebfee57fa36cd8b6f,Consolidation,4,R9,393.0,486.0,526.0,591.0,2304,2880,2
5737,18a61a07e6f5f13ebfee57fa36cd8b6f,Pulmonary fibrosis,13,R8,380.0,278.0,787.0,612.0,2304,2880,2
10114,18a61a07e6f5f13ebfee57fa36cd8b6f,Pleural thickening,11,R10,463.0,229.0,793.0,294.0,2304,2880,2
15560,18a61a07e6f5f13ebfee57fa36cd8b6f,Calcification,2,R9,393.0,283.0,822.0,643.0,2304,2880,3
33806,18a61a07e6f5f13ebfee57fa36cd8b6f,Nodule/Mass,8,R9,393.0,486.0,526.0,591.0,2304,2880,3
43999,18a61a07e6f5f13ebfee57fa36cd8b6f,Pleural thickening,11,R9,348.0,254.0,750.0,387.0,2304,2880,0
54207,18a61a07e6f5f13ebfee57fa36cd8b6f,Pulmonary fibrosis,13,R10,356.0,296.0,803.0,610.0,2304,2880,1
55488,18a61a07e6f5f13ebfee57fa36cd8b6f,Pleural thickening,11,R8,417.0,238.0,810.0,370.0,2304,2880,0

In [11]:
# create fold

In [12]:
import os
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import sys

In [13]:
savepath = '/media/basic/ssd256/VinBigData_CXR/vinbigdata/train.csv'
df = pd.read_csv(savepath)

In [16]:
df.head()

,image_id,class_name,class_id,rad_id,x_min,y_min,x_max,y_max,width,height
0,50a418190bc3fb1ef1633bf9678929b3,No finding,14,R11,NaN,NaN,NaN,NaN,2332,2580
1,21a10246a5ec7af151081d0cd6d65dc9,No finding,14,R7,NaN,NaN,NaN,NaN,2954,3159
2,9a5094b2563a1ef3ff50dc5c7ff71345,Cardiomegaly,3,R10,691.0,1375.0,1653.0,1831.0,2080,2336
3,051132a778e61a86eb147c7c6f564dfe,Aortic enlargement,0,R10,1264.0,743.0,1611.0,1019.0,2304,2880
4,063319de25ce7edb9b1c6b8881290140,No finding,14,R10,NaN,NaN,NaN,NaN,2540,3072

In [17]:
df.shape

(67914, 10)

In [14]:
# create folds by patid
trndf = df.copy()
folddf = trndf['image_id'].reset_index(drop=True).drop_duplicates().reset_index()
folddf['fold'] = (folddf['index'].values) % 4
folddf = folddf.drop('index', 1)
trndf = trndf.merge(folddf, on='image_id', how='inner')

In [15]:
trndf.head()

,image_id,class_name,class_id,rad_id,x_min,y_min,x_max,y_max,width,height,fold
0,50a418190bc3fb1ef1633bf9678929b3,No finding,14,R11,NaN,NaN,NaN,NaN,2332,2580,0
1,50a418190bc3fb1ef1633bf9678929b3,No finding,14,R15,NaN,NaN,NaN,NaN,2332,2580,0
2,50a418190bc3fb1ef1633bf9678929b3,No finding,14,R16,NaN,NaN,NaN,NaN,2332,2580,0
3,21a10246a5ec7af151081d0cd6d65dc9,No finding,14,R7,NaN,NaN,NaN,NaN,2954,3159,1
4,21a10246a5ec7af151081d0cd6d65dc9,No finding,14,R13,NaN,NaN,NaN,NaN,2954,3159,1

In [18]:
trndf.shape

(67914, 11)

In [21]:
trndf[trndf.image_id == trndf.image_id.unique()[11]]

,image_id,class_name,class_id,rad_id,x_min,y_min,x_max,y_max,width,height,fold
78,18a61a07e6f5f13ebfee57fa36cd8b6f,Pulmonary fibrosis,13,R9,393.0,283.0,822.0,643.0,2304,2880,3
79,18a61a07e6f5f13ebfee57fa36cd8b6f,Calcification,2,R8,380.0,278.0,787.0,612.0,2304,2880,3
80,18a61a07e6f5f13ebfee57fa36cd8b6f,Consolidation,4,R9,393.0,486.0,526.0,591.0,2304,2880,3
81,18a61a07e6f5f13ebfee57fa36cd8b6f,Pulmonary fibrosis,13,R8,380.0,278.0,787.0,612.0,2304,2880,3
82,18a61a07e6f5f13ebfee57fa36cd8b6f,Pleural thickening,11,R10,463.0,229.0,793.0,294.0,2304,2880,3
83,18a61a07e6f5f13ebfee57fa36cd8b6f,Calcification,2,R9,393.0,283.0,822.0,643.0,2304,2880,3
84,18a61a07e6f5f13ebfee57fa36cd8b6f,Nodule/Mass,8,R9,393.0,486.0,526.0,591.0,2304,2880,3
85,18a61a07e6f5f13ebfee57fa36cd8b6f,Pleural thickening,11,R9,348.0,254.0,750.0,387.0,2304,2880,3
86,18a61a07e6f5f13ebfee57fa36cd8b6f,Pulmonary fibrosis,13,R10,356.0,296.0,803.0,610.0,2304,2880,3
87,18a61a07e6f5f13ebfee57fa36cd8b6f,Pleural thickening,11,R8,417.0,238.0,810.0,370.0,2304,2880,3

In [22]:
trndf.fold.value_counts()

1    17553
3    17012
0    16960
2    16389
Name: fold, dtype: int64

In [23]:
# savepath = '/media/basic/ssd256/VinBigData_CXR/vinbigdata/train_folds.csv'
# trndf.to_csv(savepath, index=False)

In [26]:
# check the distribution of each class in each fold
nfolds = [0, 1, 2, 3] 
for cat in trndf['class_id'].unique():
	print(cat)
	cat_samples = trndf[trndf['class_id'] == cat].reset_index(drop=True)
	for fold in nfolds:
		print(fold, len(cat_samples[cat_samples.fold == fold]))

14
0 7977
1 7851
2 7986
3 8004
3
0 1386
1 1392
2 1318
3 1331
10
0 584
1 741
2 544
3 607
11
0 1210
1 1257
2 1132
3 1243
0
0 1785
1 1870
2 1783
3 1724
13
0 1101
1 1258
2 1116
3 1180
5
0 185
1 259
2 239
3 317
8
0 813
1 700
2 480
3 587
9
0 510
1 627
2 535
3 531
7
0 618
1 664
2 558
3 643
6
0 305
1 361
2 241
3 340
4
0 121
1 166
2 124
3 145
2
0 267
1 264
2 200
3 229
1
0 50
1 90
2 72
3 67
12
0 48
1 53
2 61
3 64